<%= form_for(@domicilio) do |f| %>
  <% if @domicilio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domicilio.errors.count, "error") %> prohibited this domicilio from being saved:</h2>

      <ul>
      <% @domicilio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :localidad_id %><br />
    <%= f.number_field :localidad_id %>
  </div>
  <div class="field">
    <%= f.label :calle %><br />
    <%= f.text_field :calle %>
  </div>
  <div class="field">
    <%= f.label :numero %><br />
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :piso %><br />
    <%= f.number_field :piso %>
  </div>
  <div class="field">
    <%= f.label :dpto %><br />
    <%= f.text_field :dpto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
