<p id="notice"><%= notice %></p>

<p>
  <b>Localidad:</b>
  <%= @domicilio.localidad_id %>
</p>

<p>
  <b>Calle:</b>
  <%= @domicilio.calle %>
</p>

<p>
  <b>Numero:</b>
  <%= @domicilio.numero %>
</p>

<p>
  <b>Piso:</b>
  <%= @domicilio.piso %>
</p>

<p>
  <b>Dpto:</b>
  <%= @domicilio.dpto %>
</p>


<%= link_to 'Edit', edit_domicilio_path(@domicilio) %> |
<%= link_to 'Back', domicilios_path %>
