<h1>Listing alumnos</h1>

<table>
  <tr>
    <th>Documento</th>
    <th>Apellidos</th>
    <th>Nombres</th>
    <th>Sexo</th>
    <th>Fecha de nacimiento</th>
    <th>Obra social</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alumnos.each do |alumno| %>
  <tr>
    <td><%= alumno.documento %></td>
    <td><%= alumno.apellidos %></td>
    <td><%= alumno.nombres %></td>
    <td><%= alumno.sexo_id %></td>
    <td><%= alumno.fecha_de_nacimiento %></td>
    <td><%= alumno.obra_social_id %></td>
    <td><%= link_to 'Show', alumno %></td>
    <td><%= link_to 'Edit', edit_alumno_path(alumno) %></td>
    <td><%= link_to 'Destroy', alumno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alumno', new_alumno_path %>
