<h1>Listing tipo_de_telefonos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_de_telefonos.each do |tipo_de_telefono| %>
  <tr>
    <td><%= tipo_de_telefono.nombre %></td>
    <td><%= link_to 'Show', tipo_de_telefono %></td>
    <td><%= link_to 'Edit', edit_tipo_de_telefono_path(tipo_de_telefono) %></td>
    <td><%= link_to 'Destroy', tipo_de_telefono, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo de telefono', new_tipo_de_telefono_path %>
