<p id="notice"><%= notice %></p>

<p>
  <b>Alumno:</b>
  <%= @diagnostico.alumno_id %>
</p>

<p>
  <b>Hospital:</b>
  <%= @diagnostico.hospital_id %>
</p>

<p>
  <b>Fecha de diagnostico:</b>
  <%= @diagnostico.fecha_de_diagnostico %>
</p>

<p>
  <b>Biopsia:</b>
  <%= @diagnostico.biopsia %>
</p>


<%= link_to 'Edit', edit_diagnostico_path(@diagnostico) %> |
<%= link_to 'Back', diagnosticos_path %>
