<%= form_for(@telefono) do |f| %>
  <% if @telefono.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telefono.errors.count, "error") %> prohibited this telefono from being saved:</h2>

      <ul>
      <% @telefono.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_de_telefono_id %><br />
    <%= f.number_field :tipo_de_telefono_id %>
  </div>
  <div class="field">
    <%= f.label :codigo_de_area %><br />
    <%= f.number_field :codigo_de_area %>
  </div>
  <div class="field">
    <%= f.label :numero %><br />
    <%= f.number_field :numero %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
